<!DOCTYPE html>
<html ng-app="ErgoBureauApp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Личный блог эргономиста</title>
    <meta name="author" content="Admin"/>
    <meta name="keywords"
          content="эргономика,оператор,история эргономики,рабочее место"/>
    <meta name="description"
          content="Очень часто, когда задаешь вопрос: «С чем ассоциируешь эргономику?», в ответ получаешь: «Компьютер, стол, кресло…». Для многих эргономика – в первую очередь правила, организации рабочего места за компьютером. Хочется начать с того, с чего все началось для эргономики персональных компьютеров."/>

    <div th:replace="layout :: global"></div>
    <div th:replace="layout :: styles"></div>
    <div th:replace="layout :: fonts"></div>
    <div th:replace="layout :: scripts"></div>
</head>
<body data-spy="scroll" data-target=".navbar-custom">

<!--Start Page loader -->
<div th:replace="layout :: pageloader"></div>
<!--End Page loader -->

<!--Start Navigation-->
<div th:replace="layout :: navigation"></div>
<!--End Navigation-->

<!-- page-header -->
<section id="page-header">
    <div class="container">
        <h1>Личный блог эргономиста</h1>
    </div>
</section>
<!-- /page-header -->

<!--Start blog -->
<section id="blog" class="section ng-cloak" ng-controller="BlogController">
    <div class="container">
        <div class="row">

            <!-- Right Sidebar -->
            <div class="col-md-offset-8 col-md-4 col-sm-4">

                <!--Start popular Post -->
                <div class="widget-main" th:fragment="latest">
                    <h4>Недавние записи</h4>

                    <div class="sidebar-widget clearfix" ng-repeat="record in latest">
                        <a analytics-on="click" analytics-event="Record {{record.id}}" analytics-category="Blog" analytics-label="{{record.title}}" href="/blog/{{record.id}}">
                            <img th:src="@{${cdnUrl}+'/images/{{record.previewImg}}'}" alt="{{record.title}}"/>
                        </a>

                        <p class="sidebar-widget-title">
                            <a analytics-on="click" analytics-event="Record {{record.id}}" analytics-category="Blog" analytics-label="{{record.title}}" href="/blog/{{record.id}}">{{record.title}}</a>
                        </p>

                        <p class="date">{{record.createDate}}</p>
                    </div>
                </div>
                <!-- / popular Post -->

                <!-- Tags -->
                <div class="widget-main">
                    <h4>Tags</h4>

                    <div class="tags">
                        <a href="">Эргономика</a>
                        <a href="">Оператор</a>
                        <a href="">История эргономики</a>
                        <a href="">Рабочее место</a>
                    </div>
                </div>
                <!-- /Tags -->

            </div>
            <!-- /right Sidebar -->
        </div>
        <!-- /row -->
    </div>
</section>
<!-- /blog -->

<!--Start footer-->
<div th:replace="layout :: footer"></div>
<!--End footer-->

<!-- Scroll top -->
<a href="#" class="scrollup"> <i class="fa fa-chevron-up"> </i> </a>

<!--Plugins-->
<div th:replace="layout :: plugins"></div>

</body>
</html>

